In [19]:
import cv2
import pandas as pd
import matplotlib.pyplot as plt

### chargement du fichier txt

In [3]:
data = pd.read_csv('gt.txt', sep=';', names = ['filename', 'xmin', 'ymin', 'xmax', 'ymax', 'class'])

### définition taille d'image

In [4]:
data['width'] = 1360
data['height'] = 800

In [6]:
data[['filename', 'width', 'height', 'class', 'xmin', 'ymin', 'xmax', 'ymax']]

       filename  width  height  class  xmin  ymin  xmax  ymax
0     00000.ppm   1360     800     11   774   411   815   446
1     00001.ppm   1360     800     40   983   388  1024   432
2     00001.ppm   1360     800     38   386   494   442   552
3     00001.ppm   1360     800     13   973   335  1031   390
4     00002.ppm   1360     800     39   892   476  1006   592
...         ...    ...     ...    ...   ...   ...   ...   ...
1208  00896.ppm   1360     800     15   808   412   846   450
1209  00897.ppm   1360     800     42   804   526   828   550
1210  00898.ppm   1360     800      4   323   504   355   536
1211  00898.ppm   1360     800      4   817   510   849   542
1212  00899.ppm   1360     800     24   864   484   921   534

[1213 rows x 8 columns]

In [7]:
def replace_class(_class):
    return 1

In [9]:
# changement de classe pour n'avoir que la classe panneau, la classification se fait avec un autre modèle
data['class'] = data['class'].map(replace_class)

In [11]:
def replace_name(name):
    name = name.split('.')
    return name[0] + '.jpeg'

In [14]:
# changement du format d'image de ppm en jpeg
data['filename'] = data['filename'].map(replace_name)

In [15]:
# colonne de classe mise à la fin de la database
data = data[['filename', 'width', 'height', 'xmin', 'ymin', 'xmax', 'ymax', 'class']]

In [17]:
data.head(5)

     filename  width  height  xmin  ymin  xmax  ymax  class
0  00000.jpeg   1360     800   774   411   815   446      1
1  00001.jpeg   1360     800   983   388  1024   432      1
2  00001.jpeg   1360     800   386   494   442   552      1
3  00001.jpeg   1360     800   973   335  1031   390      1
4  00002.jpeg   1360     800   892   476  1006   592      1

In [16]:
# enregistrement en csv
data.to_csv('full_labels.csv', index=False)

### Changement de format des images

In [ ]:
import os 
import cv2 
from glob import glob

In [ ]:
cwd = os.getcwd()
input_dir = os.path.join(cwd, "*.ppm")    
ppms = glob(input_dir)

In [ ]:
for ppm in ppms:
    cv2.imwrite(os.path.splitext(ppm)[0] + '.jpeg', cv2.imread(ppm))